<table>
  <tr *ngIf="setred; else setGreen;" style="background-color:red;">
    <td>{{id}}</td>
    <td>{{title}}</td>
    <td>{{price}}</td>
    <td>{{stock}}</td>
  </tr>

  <ng-template #setGreen>
    <tr style="background-color: green;">
        <td>{{id}}</td>
        <td>{{title}}</td>
        <td>{{price}}</td>
        <td>{{stock}}</td>
    </tr>
  </ng-template>
</table>