table{
    table-layout: fixed;
    width: 80%;
   
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
     
}
td{
    padding: 30px;
    text-align: left;
}
table th{
    background-color: lightslategray;
    color: black;
}
